shell:
  program: /usr/bin/bash

window:
  dimensions:
    columns: 80
    lines: 24
  padding:
    x: 5
    y: 10

font:
  size: 13
#  size: 15
  antialias: true
  autohint: true
  offset:
    x: 0
    y: 0
  glyph_offset:
    x: 0
    y: 0

key_bindings:
  - { key: Return,   mods: Control|Shift, action: SpawnNewInstance }

